<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>tic tac toe</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src='/static/script.js'></script>
</head>
<body>
    <div id="main">
       <center> <table>
            <tr>
                <td id="l-1"></td>
                <td id="l-2"></td>
                <td id="l-3"></td>
            </tr>
            <tr>
                <td id="l-4"></td>
                <td id="l-5"></td>
                <td id="l-6"></td>
            </tr>
            <tr>
                <td id="l-7"></td>
                <td id="l-8"></td>
                <td id="l-9"></td>
            </tr>
        </table>

        <button id="pStart">I want to start</button>
        <button id="rStart">Robot starts</button>
        <h2 id="res">choose to continue</h2>
    </center>

    </div>
    <div class="loader" id="loader"></div>
    
</body>
</html>